.menu-acerca {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 120px;
    margin: 10px 100px 50px 100px;
    border-radius: 60px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

    li{
        display: inline;
        padding-right: 20px;

        &:last-child{
            padding-right: 0;
        }

        @extend .estilo-enlaces;
    }

    &__left{
        display: flex;
        width: 50%;
    }
    
    &__right{
        display: flex;
        width: 50%;
        justify-content: end;
    }
    
    &__title{
        justify-self: center;
    }

    &__mobile{
        display: none;
    }

}

.acerca-de-fondo{
    background-image: url(../images/Fondo\ Acerca-de.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.acerca-de{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 20px 100px 20px 100px;
    padding: 40px 150px 40px 150px;
    width: auto; 

    img{
        height: 500px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 50px;
        padding-right: 10px;
        padding-bottom: 10px;
        border-radius: 100px 0px 100px 0px ;
        box-shadow: 1px 1px #fff;
    }
}


.biografia,
.carrera,
.exhibiciones{
    @include bioContainer ("yes");
    width: 800px;

    h6{
        padding-bottom: 20px;
    }
}





@media screen and (max-width: 1200px) {
    .acerca-de{
        padding: 40px 80px 40px 80px;
    }
}

@media screen and (max-width: 1023px) {
    .acerca-de{
        padding: 20px;
    }

    .biografia,
    .carrera,
    .exhibiciones{
        @include bioContainer ("yes");
        width: 100%;
    }   
}

@media screen and (max-width: 768px) {
    .acerca-de{
        margin: 40px;
    }

    .menu-acerca{
        &__left{
            display: none;
        }
        &__right{
            display: none;
        }
        
        display: flex;
        justify-content: space-between;
        width: auto;
        margin-left: 60px;
        margin-right: 60px;

        &__mobile{
            display: flex;
            flex-direction: row;
            justify-content: end;
            width: 50%;

            i{
                font-size: 15px;
                padding-left: 5px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .acerca-de{
        margin: 0px;
    }
}