/* Estilo Universal */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Guía de estilo general y textos */

/* body{ background: -webkit-linear-gradient(top, rgb(253, 235, 235), rgb(168, 150, 211) ); } */
body{ font-family: 'Rajdhani', sans-serif; }

h1{ font-size: 80px; font-weight: 400; }
h2{ font-size: 60px; font-weight: 400; }
h3{ font-size: 40px; font-weight: 400; }
h4{ font-size: 30px; font-weight: 500; }
h5{ font-size: 24px; font-weight: 600; }
h6{ font-size: 20px; font-weight: 700; }
p{ font-size: 20px; font-weight: 400; }

a{ text-decoration: none;}


/* Estilo del Footer */

footer{
    display: flex;
    flex-flow: row wrap;
    width: auto;
    height: auto;
    margin: 50px 100px 0px 100px;
    padding: 40px;
    background-color:  rgba(255, 255, 255, 0.5);
    border-radius: 60px 60px 0px 0px;
    text-align: center;
}

footer a{
    padding: 10px;
    font-size: 18px;
}

footer a:hover{
    font-weight: 700;
}

.footer-logo{
    display: flex;
    width: 50%;
    align-items: center;
}

.footer-links{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: end;
}

.footer-rights{
    display: flex;
    width: 100%;}

/* Estilo de PRUEBA para menú.html */

.fullscreen-menu{
    background-color: rgba(29, 29, 29, 0.485);
    min-height: 100vh;
}

.fullscreen__nav a{
    font-size: 100px;
    color: white;
}

.fullscreen__nav :hover{
    color: white;
    text-shadow: 5px 0px black;
}

.fullscreen__socials a{
    font-size: 25px;
    color: white;
}

/* Estilo de PRUEBA para acerca-de.html */

.acerca-de{
    margin: 20px 100px 20px 100px;
    padding: 40px 150px 40px 150px;
    width: auto;
}


/* Estilo de PRUEBA para contacto.html */

.contacto {
    display: flex;
    flex-flow: column wrap;
    margin: 50px 100px 50px 100px;
    width: auto;
    align-content: center;
    gap: 40px;
}

.contacto__texto{
    display: flex;
    flex-flow: column;
    width:70%;

}

.contacto__formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
}

form{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 500px;
    gap: 13px;
}

.contacto__botones{
    display: flex;
    flex-direction: column nowrap;
    gap: 40px;
}

.contacto input{
    width: 500px;
}

.mensaje-input{
    display: flex;
    flex-direction: column;
}

.news-input{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.news-input label{
    width: 100%;
}




/* Estilo portafolio.html */

.portafolio{
    margin: 200px 0px 20px 100px;
}

.portafolio__nav, li{
    display: inline;
    padding-right: 10px;
}

.portafolio__nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-right: 100px;
}

.portafolio__ficha{
    width: 30%;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 50px;
}

.descripcion{
  margin-top: auto;
}


.portafolio__slider{
    display: flex;
    flex-direction: row;    
    max-width: 67%;
    height: 660px;
    overflow-x: scroll;
    gap: 50px;
}


.portafolio-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    padding-top: 50px;
    padding-bottom: 100px;
    gap: 3%;
}

.portafolio__arrows{
    padding-top: 30px;
    margin-right: 100px;
}

/* Animaciones para el Index--> Las moví a _inicio.scss */

/*  Animaciones para portafolio */

.menu-fijo {
    background-color: rgba(127, 255, 212, 0.066);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0px;
    z-index: 1;
}



.portafolio-content{
	animation: fade-in 2s ease-in both;}

@keyframes fade-in {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    



/* Media Querys */


@media screen and (max-width: 1200px) {

    .hero{
        display: flex;
        flex-flow: column;
        width: auto;
        height: auto;
    }

    .hero-info{
        width: 100%;
        padding-bottom: 0px;
  
    }

    .hero-cta{
        width: 100%;
        height: min-content;
        align-items: flex-end;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .hero__gif{
        width: auto;
        height: 100px;
    }

    .scroll{
        width: auto;
        height: 40px;
    }

    .footer{
        height: auto;
        width: 100%;
        bottom: 0%;
    }
    
}

@media screen and (max-width: 1023px) {
    
    header{
        display: flex;
        width: auto;
        margin: 10px 50px 10px 50px;
    }

    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: 700px;
        margin: 50px;
        padding-bottom: 0px;
        
    }

    .hero-info h1{
        font-size: 90px;
        line-height: 5rem;
    }

    .hero-info p{
        font-size: 20px;
    }

    footer{
        display: flex;
        flex-flow: row wrap;
        width: auto;
        height: auto;
        margin: 10px 50px 0px 50px;
        
    }

    .footer-logo{
        display: flex;
        width: 50%;
    }

    .footer-links{
        display: flex;
        width: 50%;
    }

    .footer-rights{
        display: flex;
        width: 100%;
        align-items: flex-end;
    }

    .portafolio{
        margin: 160px 0px 80px 50px;
    }

    .portafolio__nav{
        margin: 0px 50px 20px 0px;
    }

    .portafolio__arrows{
        margin-right: 50px;
    }

    .portafolio__slider{

        height: 400px;
    }

    .portafolio__ficha{
        height: 400px;
    }

    .portafolio__ficha h3{
        font-size: 28px;
    }

}

@media screen and (max-width: 768px) {

    header{
        display: flex;
        flex-flow: row nowrap;
    }

    .menu-left{
        display: none;
    }

    .menu-right{
        display: none;
    }

    .footer-rights{
        justify-content: center;
    }

    .hero{
        height: 800px;
        background-size: 300%;
        background-position-x: center;
        background-attachment: fixed;
    }

    .hero-info{
        padding-left: 40px;
        padding-right: 40px;
    }

    .hero-info h1{
        font-size: 75px;
        line-height: 4rem;
    }

    .hero-info p{
        font-size: 26px;
    }

    .portafolio{
        margin-top: 170px;
    }

    .portafolio-content{
        display: flex;
        flex-flow: column wrap;
        padding-top: 50px;
    }

    .portafolio__ficha{
        width: auto;
        height: 200px;
        margin-right: 50px;
        margin-bottom: 50px;

    }

    .portafolio__arrows{
        display: flex;
        justify-content: end;
    }

    .portafolio__slider{
        max-width: 100%;
    }

    .contacto{
        margin: 30px 50px 30px 50px;
    }

    .contacto__texto{
        width: auto;
    }

    .contacto__formulario{
        width: auto;
    }
        
}

@media screen and (max-width: 480px) {

    header{
        margin: 20px 20px 10px 20px;
    }

    .hero{
        display: flex;
        margin: 30px 20px 50px 20px;
    }

    .hero-info h1{
        font-size: 60px;
        line-height: 3rem;
    }

    .hero-info p{
        font-size: 24px;
    }

    .hero-cta{
        align-items: flex-start;
        padding-left: 40px;
        padding-top: 20px;
    }

    .hero-scroll{
        padding-top: 40px;
    }

    footer{
        display: flex;
        flex-direction: column;
        margin: 20px 20px 0px 20px;
    }

    .footer-logo{
        width: 100%;
        justify-content: center;
    }

    .footer-links{
        width: 100%;
        justify-content: center;
    }

    .portafolio{
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 160px 20px 20px 20px;
    }

    .portafolio__nav{
        font-size: 18px;
        gap: 10px;
    }

    .portafolio__ficha{
        width: 100%;
        height: 280px;
        margin-right: 20px;
    }

    .portafolio__slider{
        height: 300px;
        max-width: 100%;
        gap: 30px;
    }
    
    .contacto{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: auto;
        margin: 20px;
    }

    .contacto__texto{
        display: flex;
        width: 100%;
    }

    .contacto__formulario{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    form{
        width: auto;
        gap: 13px;
    }

    .contacto input{
        width: 100%;
    }

    .contacto h1{
        font-size: 60px;
    }

}
