header{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 120px;
    margin: 10px 100px 10px 100px;
    padding: 10px;
    border-radius: 60px;
}

.menu-contenedor{
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

    &__left{
        display: flex;
        width: 50%;
    }
    
    &__right{
        display: flex;
        width: 50%;
        justify-content: end;
    }

    &__links a{
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    
        &:hover{
            font-weight: 700;
            text-shadow: 2px 2px rgb(101, 235, 190);
        }
    }
    
    
    &__title{
        justify-self: center;
    
    }
}

// Hay que cambiar la clase para que sea genérica del header y no solo del inicio.

.header-inicio{
    animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
    height: 120px;
    margin: 10px 100px 10px 100px;
    background-color:  rgba(255, 255, 255, 0.5);
    border-radius: 60px;
}

@keyframes fade-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

//   Crear una condicion general "if" el header está yes, 
// se aplica aquí. Y en global (resto de las páginas) no"