
header{
    animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
    height: 120px;
    margin: 10px 100px 10px 100px;
    background-color:  rgba(255, 255, 255, 0.5);
    border-radius: 60px;
}

@keyframes fade-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .inicio{
    background: linear-gradient(129deg, #646071, #eeefff, #2f2f2f);
    background-size: 600% 600%;

    -webkit-animation: inicio 13s ease infinite;
    animation: inicio 13s ease infinite;
}

@-webkit-keyframes inicio {
    0%{background-position:0% 46%}
    50%{background-position:100% 55%}
    100%{background-position:0% 46%}
}

@keyframes inicio {
    0%{background-position:0% 46%}
    50%{background-position:100% 55%}
    100%{background-position:0% 46%}
}


.hero{
  display: flex;
  flex-flow: row wrap;
  width: auto;
  height: 830px;
  margin: 50px 100px 50px 100px;
  border-radius:60px;
  text-align: left;
  background-image: url(../images/objeto-home.jpeg);
  background-size: cover;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
     }
   }

  &__info{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      width: 60%;
      padding: 100px;
      color: white;
      text-shadow: 2px 2px 20px black;
  
      &--titulo{
          font-size: 80px;
          line-height: 5rem;
          text-transform: uppercase;
          text-align: start;
          text-shadow: 3px 3px 8px black;
    
      }
      
      &--parrafo{
          font-size: 25px;
          text-align: left;
          text-shadow: 3px 3px 8px black;
      }
  }
  
  &__cta{
      display: flex;
      flex-direction: column;
      width: 40%;
      align-self: flex-end;
      justify-content: end;
      padding-bottom: 50px;


      img{
        animation: rotate-vert-center 5s linear infinite both;
      }
      
      @keyframes rotate-vert-center {
        0% {
          transform: rotateY(0);
        }
        100% {
          transform: rotateY(360deg);
        }
      }
  }
  
  
}



footer{
  animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


// Media queries para index:

@media screen and (max-width: 1200px){

  .hero{
    display: flex;
    flex-flow: row wrap;
    width: auto;
    height: 600px;
    margin: 40px 100px 40px 100px;
    padding-bottom: 30px;
    
    &__info {
      width: 60%;
      padding: 70px 7px 0px 70px;

        &--titulo{
            font-size: 80px;
            line-height: 5rem;
        }
    
        &--parrafo{
            font-size: 20px;
            margin-bottom: 20px;
        }
    }

    &__cta{
      width: 40%;
    }

    &__scroll{
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
}


@media screen and (max-width: 1023px){

  .hero{
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: flex-start;
    width: auto;
    height: 500px;
    margin: 100px;
    padding-bottom: 30px;
    
    &__info {
      width: 70%;
      padding: 70px 70px 0px 70px;

        &--titulo{
            font-size: 80px;
            line-height: 5rem;
        }
    
        &--parrafo{
            font-size: 20px;
            margin-bottom: 0;
        }
    }

    &__cta{
      width: 30%;
      align-items: flex-end;
      padding: 0px;
    }
  }
}

@media screen and (max-width: 768px){

  .hero{
    display: flex;
    flex-flow: row wrap-reverse;
    height: 700px;
    width: auto;
    background-size: cover;
    margin: 50px;

    &__info{
        padding-left: 40px;
        padding-right: 40px;

        &--titulo{
            font-size: 70px;
            line-height: 4rem;
        }

        &--parrafo{
            font-size: 26px;
        }
    }
  }
}

@media screen and (max-width: 480px){

  .hero{
    height: 600px;
    display: flex;
    flex-flow: row wrap-reverse;
    margin: 30px 20px 50px 20px;

    &__info{

        &--titulo{
        font-size: 40px;
        line-height: 3rem;
        }

        &--parrafo{
            font-size: 20px;
        }
    }

    &__cta{
        justify-items: flex-start;

    }
  }
  
}
